.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
    padding-bottom: 10px;
}
.contenedor-form .intern{
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
}
.contenedor-form .intern2{
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
}
.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="submit"] {
    background: #FF851B;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 5px;
}
.contenedor-form input[type="submit"]:hover {
    background: rgba(0, 117, 217, 0.7);
}
.contenedor-form table{
    width: 100%;
    padding: 8px 8px 8px 8px;
}
.contenedor-form .intern:nth-child(2) {
    display: block;
}
.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}
body .diminutas {
    font-size: 10px;
}
